MYMETA.*
META.yml
META.json
Makefile
blib
inc
pm_to_blib
MANIFEST
MANIFEST.bak
Makefile.old
*.log.*
log/
xs/*c
xs/*o
xs/*obj
*.bs
*.def
*.old
dll*
*~
README
LICENSE
Build
_build/*
Makefile.PL
*.swp
*.swo
.prove
